In [1]:
from icecream import ic
import numpy as np
import pandas as pd
from collections import defaultdict
from collections import deque

## 14. Longest Common Prefix

In [25]:
strs1 = ["flower","flow","flight"]
strs2 = ["dog","racecar","car"]

In [26]:
# Finding length of longest prefix possible
longest_prefix_length = len(strs1[0])
ic(longest_prefix_length)
for i in strs1:
    ic(i)
    longest_prefix_length = min(longest_prefix_length, len(i))
    ic(longest_prefix_length)

ic| longest_prefix_length: 6
ic| i: 'flower'
ic| longest_prefix_length: 6
ic| i: 'flow'
ic| longest_prefix_length: 4
ic| i: 'flight'
ic| longest_prefix_length: 4

In [27]:
longest_prefix_length

4

In [37]:
# My solution
string = ""
ic(string)
for i in range(longest_prefix_length):
    ic(i)
    nxt = strs1[0][i]
    ic(nxt)
    keep = True
    ic(keep)
    for j in strs1:
        ic(j)
        start = j[i]
        ic(start)
        if start != nxt:
            keep = False
            break
        nxt = start
        ic(nxt)
    if keep == False:
        break
    else:
        string += strs1[0][i]
        ic(string)

ic| string: ''
ic| i: 0
ic| nxt: 'f'
ic| keep: True
ic| j: 'flower'
ic| start: 'f'
ic| nxt: 'f'
ic| j: 'flow'
ic| start: 'f'
ic| nxt: 'f'
ic| j: 'flight'
ic| start: 'f'
ic| nxt: 'f'
ic| string: 'f'
ic| i: 1
ic| nxt: 'l'
ic| keep: True
ic| j: 'flower'
ic| start: 'l'
ic| nxt: 'l'
ic| j: 'flow'
ic| start: 'l'
ic| nxt: 'l'
ic| j: 'flight'
ic| start: 'l'
ic| nxt: 'l'
ic| string: 'fl'
ic| i: 2
ic| nxt: 'o'
ic| keep: True
ic| j: 'flower'
ic| start: 'o'
ic| nxt: 'o'
ic| j: 'flow'
ic| start: 'o'
ic| nxt: 'o'
ic| j: 'flight'
ic| start: 'i'

In [36]:
string

'fl'

In [39]:
# Best solution
sorted_strs1 = sorted(strs1)
ic(sorted_strs1)               # https://leetcode.com/problems/longest-common-prefix/solutions/3273176/python3-c-java-19-ms-beats-99-91/
first = sorted_strs1[0]
last = sorted_strs1[-1]
string = ""
for i in range(min(len(first), len(last))):
    if first[i] == last[i]:
        string += first[i]
    else:
        break

ic| sorted_strs1: ['flight', 'flow', 'flower']

In [42]:
string

'fl'

## 20. Valid Parentheses

In [70]:
s1 = "()[]{}"
s2 = "(]"
s3 = "{[]}"

In [88]:
# Best Solution
def valid_parentheses(s):    
    stack = []
    for para in s:
        if para in "([{":
            stack.append(para)
        else:
            if not stack or \
            (para == ")" and stack[-1] != "(") or \
            (para == "]" and stack[-1] != "[") or \
            (para == "}" and stack[-1] != "{"):
                return False
            stack.pop()
    return not stack

In [89]:
valid_parentheses(s2)

False

In [90]:
valid_parentheses(s3)

True

## 27. Remove Element

In [158]:
nums = [0,1,2,2,3,0,4,2]
val = 2

In [176]:
# My Solution
def remove_elements(nums):
    for i in reversed(range(len(nums))):
        if nums[i] == val:
            nums.pop(i)
    return len(nums)

In [177]:
remove_elements(nums)

5

In [178]:
nums

[0, 1, 3, 0, 4]

In [179]:
# Alternate Solution
def removeElement(nums):
    index = 0
    for i in range(len(nums)):
        if nums[i] != val:
            nums[index] = nums[i]
            index += 1
    return index

## 28. Find the Index of the First Occurrence in a String

In [180]:
haystack = "sadbutsad"
needle = "sad"

In [191]:
# My Solution
for idx in range(len(haystack) - len(needle) + 1):
    ic(idx)
    if needle == haystack[idx : idx + len(needle)]:
        ic(needle)
        ic(haystack[idx : idx + len(needle)])
        print(idx)

ic| idx: 0
ic| needle: 'sad'
ic| haystack[idx : idx + len(needle)]: 'sad'
ic| idx: 1
ic| idx: 2
ic| idx: 3
ic| idx: 4
ic| idx: 5
ic| idx: 6
ic| needle: 'sad'
ic| haystack[idx : idx + len(needle)]: 'sad'

0
6

In [193]:
# Alternate Solution
haystack.find(needle)

0

## 35. Search Insert Position

In [195]:
nums = [1,3,5,6]
target = 5

In [203]:
# My Solution
def insert_pos(nums, target):
    for idx, val in enumerate(nums):
        if val == target:
            return idx
        elif val > target:
            return idx
    return len(nums)

In [204]:
insert_pos(nums, target)

4

In [205]:
nums = [1,3,5,6]
target = 2
insert_pos(nums, target)

1

In [206]:
nums = [1,3,5,6]
target = 7
insert_pos(nums, target)

4

## 58. Length of Last Word

In [13]:
s = "   fly me   to   the moon  "

In [14]:
# My Solution
len(s.split()[-1])

4

In [15]:
# My Alternate Solution
foundword = False
length = 0
for i in reversed(s):
    if i.isalpha():
        length += 1
        foundword = True
    if i.isspace() and foundword:
        break

In [16]:
length

4

## 66. Plus One

In [52]:
digits = [9, 9]
digits = [1,2,9]

In [53]:
# My Solution
# for i in reversed(range(len(digits))):
#     if digits[i] == 9:
#         if i == 0:
#             digits[i] = 1
#             digits.append(0)
#             break
#         digits[i] = 0
#     else:
#         digits[i] += 1
#         break

In [54]:
# digits

In [59]:
# My Alternate Solution
string = ""
for i in digits:
    string += str(i)
string = str(int(string) + 1)
string1 = [int(s) for s in string]

In [60]:
string1

[1, 3, 0]

## 67. Add Binary

In [61]:
a = "11"
b = "1"

In [67]:
bin(int(a, 2) + int(b, 2))[2:]

'100'

## 69. Sqrt(x)

In [83]:
x = 8192

In [84]:
# Newton Method: https://www.geeksforgeeks.org/find-root-of-a-number-using-newtons-method/
def mySqrt(x: int) -> int:
    if x == 0:
        return 0
    elif len(str(x)) <= 3:
        init = x / 2
    else:
        init = int(str(x)[:int(len(str(x))/2)])
    for i in range(7):
        init = (init + (x/init))/2
    return int(init)

In [85]:
mySqrt(x)

90

In [91]:
# Binary Search: https://www.youtube.com/watch?v=Bsv3FPUX_BA
def binary_search_sqrt(x):
    if x == 0:
        return 0
    first = 1
    last = x
    while first <= last:
        middle = int((first + last) / 2)
        if x == (middle * middle):
            return middle
        elif x < (middle * middle):
            last = middle - 1
        else:
            first = middle + 1
    return last

In [96]:
binary_search_sqrt(120)

10

## 70. Climbing Stairs

In [2]:
from itertools import permutations

In [12]:
list(permutations([1,2], 2))

[(1, 2), (2, 1)]

In [17]:
# Best Solution: Dynamic Programming : https://www.youtube.com/watch?v=Y0lT9Fck7qI
def climb_stairs(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        one, two, new = 1, 1, 0
        for i in range(n - 1):
            new = one + two
            two = one
            one = new
    return new

In [19]:
climb_stairs(3)

3

## 83. Remove Duplicates from Sorted List

In [ ]:
# ListNode is an object which has a value and 'next' which has pointer to next ListNode object
# ListNode is stored this way: ListNode{val: 2, next: ListNode{val: 4, next: None}} (Recursive)

In [2]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

In [8]:
# Best Solution
def deleteDuplicates(head):
    if head == None:
        return None

    current = head
    while current.next:
        if current.val == current.next.val:
            current.next = current.next.next
        else:
            current = current.next

    return head

## 88. Merge Sorted Array

In [9]:
nums1 = [1, 2, 3, 0, 0, 0]

In [10]:
# My Solution 1
def merge_sorted(nums1, m, nums2, n):
    nums1[m:] = nums2
    nums1.sort()

In [12]:
# Algo Solution (backwards pass)
def merge_sorted(nums1, m, nums2, n):    
    x = m - 1
    y = n - 1
    track = n + m - 1
    while y >= 0:
        if x >= 0 and nums1[x] > nums2[y]:
            nums1[track] = nums1[x]
            x -= 1
        else:
            nums1[track] = nums2[y]
            y -= 1
        track -= 1

## 94. Binary Tree Inorder Traversal

In [15]:
# In-order treversal is a method of travelling through a binary tree: https://www.youtube.com/watch?v=5dySuyZf9Qg

In [16]:
def inorderTraversal(root):
    res = []
    def inorder(root):
        if not root:
            return None
        inorder(root.left)
        res.append(root.val)
        inorder(root.right)
    inorder(root)
    return res

## 100. Same Tree

In [5]:
# Recursion Solution :https://youtu.be/vRbbcKXCxOw?si=WquoNe5pi-tCUyyX
def isSameTree(p, q) -> bool:
    if not p and not q:
        return True
    if not p or not q or p.val != q.val:
        return False
    return (self.isSameTree(p.left, q.left) and self.isSameTree(p.right, q.right))

## 118. Pascal's Triangle

In [4]:
from math import ceil

In [32]:
ceil(2/2)

1

In [10]:
# My Solution
def generate(numRows):
    output = []
    for row_num in range(1, numRows + 1):
        ic(row_num)
        if row_num == 1:
            output.append([1])
        else:
            temp = [0] * row_num
            reverse = -1
            for col in range(ceil(row_num / 2)):
                if col == 0:
                    temp[0] = 1
                    temp[-1] = 1
                else:
                    temp[col] = sum(output[row_num-2][col-1:col+1])
                    temp[reverse] = temp[col]
                reverse -= 1
            output.append(temp)
    return output

In [108]:
generate(3)

ic| row_num: 1
ic| row_num: 2
ic| row_num: 3

[[1], [1, 1], [1, 2, 1]]

## 119. Pascal's Triangle II

In [9]:
# My Solution
def generate(rowIndex):
    if rowIndex == 0:
        return [1]
    if rowIndex == 1:
        return [1,1]
    else:                         # 2nd idx [1,2,1]
        prev = [1,1]
        for i in range(2, rowIndex + 1):
            ic(i)
            ic(prev)
            window = 0
            forward = 1
            reverse = -2
            new = [1] * (i + 1)
            for ite in range(int(i/2)):
                ic(ite)
                ic(int(rowIndex/2))
                new[forward] = sum(prev[window:window+2])
                new[reverse] = new[forward]
                window += 1
                forward += 1
                reverse -= 1
            prev = new
    return prev

In [57]:
generate(4)

ic| i: 2
ic| prev: [1, 1]
ic| ite: 0
ic| int(rowIndex/2): 2
ic| i: 3
ic| prev: [1, 2, 1]
ic| ite: 0
ic| int(rowIndex/2): 2
ic| i: 4
ic| prev: [1, 3, 3, 1]
ic| ite: 0
ic| int(rowIndex/2): 2
ic| ite: 1
ic| int(rowIndex/2): 2

[1, 4, 6, 4, 1]

## 121. Best Time to Buy and Sell Stock

In [3]:
prices = [7,1,5,3,6,4]
prices1 = [2,4,1]

In [8]:
# My Solution
def maxprofit(prices):
    maximum = prices[0]
    minimum = prices[0]
    maxp = 0
    for current in prices[1:]:
        if current < minimum:
            minimum = current
            maximum = current
            continue
        if current > maximum:
            maximum = current
        maxp = max(maxp, (maximum - minimum))
    return maxp

In [7]:
maxprofit(prices1)

2

## 125. Valid Palindrome

In [25]:
s = "A man, a plan, a canal: Panama"

In [32]:
# My Solution
def ispalindrome(s):
    s1 = ""
    for i in s.lower():
        if i.isalnum():
            s1 += i
    left = 0
    right = len(s1)-1
    while left < right:
        if s1[left] != s1[right]:
            return False
        left += 1
        right -= 1
    return True

In [33]:
ispalindrome(s)

True

## 136. Single Number

In [34]:
nums = [4,1,2,1,2]

In [52]:
def single_number(nums):
    count = {}
    for i in nums:
        if i not in count:
            count[i] = 1
        else:
            count.pop(i)
    return next(iter(count))

In [53]:
single_number(nums)

4

## 141. Linked List Cycle

In [55]:
# Floyd's Tortoise and Hare: https://www.youtube.com/watch?v=gBTe7lFR3vc
def hasCycle(head):
    slow, fast = head, head
    while fast and fast.next:
        slow = slow.next
        fast = fast.next.next
        if slow == fast:
            return True
    return False

## 144. Binary Tree Preorder Traversal

In [58]:
# Visualization: https://www.youtube.com/watch?v=1WxLM2hwL-U
def preorderTraversal(root):
    res = []
    def preorder(root):
        if not root:
            return None
        res.append(root.val)
        preorder(root.left)
        preorder(root.right)
    preorder(root)
    return res

## 145. Binary Tree Postorder Traversal

In [60]:
# Visualization: https://www.youtube.com/watch?v=4zVdfkpcT6U
def postorderTraversal(root):
    res = []
    def postorder(root):
        if not root:
            return None
        postorder(root.left)
        postorder(root.right)
        res.append(root.val)
    postorder(root)
    return res

## 160. Intersection of Two Linked Lists

In [4]:
# Best Solution O(m+n) time: https://youtu.be/D0X0BONOQhI?si=okeUJ1mTJUfvVuk5
def getIntersectionNode(headA, headB):
    p1, p2 = headA, headB
    while p1 != p2:
        p1 = p1.next if p1 else headB
        p2 = p2.next if p2 else headA
    return p1

## 168. Excel Sheet Column Title

In [119]:
ic(1000%26)
ic(1000//26)
ic(38%26)
ic(38//26)
ic(1%26)
ic(1//26)

ic| 1000%26: 12
ic| 1000//26: 38
ic| 38%26: 12
ic| 38//26: 1
ic| 1%26: 1
ic| 1//26: 0

0

In [111]:
def convertToTitle(columnNumber: int):
    alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    res = ""
    while columnNumber > 0:
        ic(columnNumber)
        res += alpha[(columnNumber-1)%26]
        ic(res)
        columnNumber = (columnNumber-1) // 26
        ic(columnNumber)
    return res[::-1]

In [113]:
convertToTitle(1000)

ic| columnNumber: 1000
ic| res: 'L'
ic| columnNumber: 38
ic| columnNumber: 38
ic| res: 'LL'
ic| columnNumber: 1
ic| columnNumber: 1
ic| res: 'LLA'
ic| columnNumber: 0

'ALL'

## 169. Majority Element

In [134]:
nums = [3,2,3,3,3,2]

In [143]:
from collections import defaultdict
count = defaultdict(int)
length = len(nums)/2
for i in nums:
    count[i] += 1
    if count[i] >= length:
        break

In [144]:
count

defaultdict(int, {3: 3, 2: 1})

In [2]:
nums = [2,2,1,1,1,2,2]

In [4]:
# Best Solution: https://youtu.be/7pnhv842keE?si=FQ7BReW3_lTM6Q_Q
def majorityElement(nums):
    num, count = 0, 0
    for i in nums:
        if count == 0:
            num = i
        count += (1 if i == num else -1)
    return num

## 171. Excel Sheet Column Number

In [11]:
from string import ascii_uppercase

In [23]:
# for i in ascii_uppercase:
#     print(ord(i)-64)

In [24]:
# My Solution
def title_to_num(title):
    start = 0
    count = 0
    for i in title[::-1]:
        count += ((ord(i)-64)*(26**start))
        start += 1
    return count

In [22]:
title_to_num("ALL")

1000

## 181. Employees Earning More Than Their Managers

In [4]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [5]:
employee

   id   name  salary  managerId
0   1    Joe   70000          3
1   2  Henry   80000          4
2   3    Sam   60000       <NA>
3   4    Max   90000       <NA>

In [12]:
x = employee.loc[employee.id.isin(employee.managerId)]
x

   id name  salary  managerId
2   3  Sam   60000       <NA>
3   4  Max   90000       <NA>

In [13]:
y = employee.loc[~employee.managerId.isna()]
y

   id   name  salary  managerId
0   1    Joe   70000          3
1   2  Henry   80000          4

In [50]:
z = pd.merge(employee, employee, left_on = "managerId", right_on = "id")
z

   id_x name_x  salary_x  managerId_x  id_y name_y  salary_y  managerId_y
0     1    Joe     70000            3     3    Sam     60000         <NA>
1     2  Henry     80000            4     4    Max     90000         <NA>

In [52]:
z.loc[z.salary_x>z.salary_y]["name_x"].to_frame().rename(columns = {"name_x":"Employee"})

  Employee
0      Joe

## 183. Customers Who Never Order

In [5]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [6]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [7]:
orders

   id  customerId
0   1           3
1   2           1

In [12]:
customers.loc[~customers.id.isin(orders.customerId)]["name"].to_frame()

    name
1  Henry
3    Max

## 190. Reverse Bits

In [61]:
n = 43261596

In [62]:
# My Solution
def reverse_bits(n):
    if n < 0:
        n = bin(n)[3:][::-1]
    else:
        n = bin(n)[2:][::-1]
    return int(n + "0"*(32-len(n)), 2)

In [64]:
reverse_bits(n)

964176192

In [77]:
2 | 1

3

In [83]:
# Bit Manipulation: https://www.youtube.com/watch?v=LJiMk8lPJNc
def reverse_bits(n):
    res = 0
    for i in range(32):
        bit = (n >> i) & 1
        res = res | (bit << (31 - i))
    return res

In [79]:
reverse_bits(n)

964176192

## 191. Number of 1 Bits

In [80]:
n = 11

In [84]:
# My Solution
def hamming_weight(n):
    res = 0
    for i in range(32):
        bit = (n >> i) & 1
        res += (1 if bit == 1 else 0)
    return res

In [82]:
hamming_weight(n)

3

## 202. Happy Number

In [85]:
n = 19

In [106]:
# My Solution
def ishappy(n):
    track = set()
    track.add(n)
    res = n
    while res != 1:
        res = 0
        for i in str(n):
            res += int(i) ** 2
        if res in track:
            return False
        track.add(res)
        n = res
    return True

In [108]:
ishappy(1)

True

## 203. Remove Linked List Elements

In [125]:
# My Solution
def removeElements(head, val):
    while head and (head.val == val):
        head = head.next
    prev, curr = head, head
    while curr:
        if curr.val == val:
            prev.next = curr.next
        else:
            prev = curr
        curr = curr.next
    return head

## 205. Isomorphic Strings

In [116]:
s = "paper"
t = "title"

In [121]:
# My Solution
def isomorphic(s, t):
    track = dict()
    val = set()
    if len(s) != len(t):
        return False
    for i in range(len(s)):
        if (s[i] not in track) and (t[i] not in val):
            track[s[i]] = t[i]
            val.add(t[i])
        else:
            if track.get(s[i], 0) != t[i]:
                return False
    return True

In [118]:
isomorphic(s, t)

True

In [119]:
s = "foo"
t = "bar"
isomorphic(s, t)

False

In [120]:
s = "badc"
t = "baba"
isomorphic(s, t)

False

## 206. Reverse Linked List

In [2]:
# Best Solution: https://youtu.be/G0_I-ZF0S38?si=3Nauksw350I-npgD
# 3 pointer approach
def reverseList(head):
    prev = None
    curr = head
    while curr:
        nxt = curr.next
        curr.next = prev
        prev = curr
        curr = nxt
    return prev

## 217. Contains Duplicate

In [13]:
nums = [1,2,3,1]

In [14]:
def contains_duplicates(nums):
    track = defaultdict(int)
    for num in nums:
        track[num] += 1
        if track[num] > 1:
            return True
    return False

In [15]:
contains_duplicates(nums)

True

In [16]:
nums = [1,2,3,4]
contains_duplicates(nums)

False

## 219. Contains Duplicate II

In [64]:
nums = [1,2,3,1,2,3]
k = 2

In [84]:
# My Solution
def nearby_duplicates(nums, k):
    track = set()
    start, end = 0, k + 1
    for i in nums[start:end]:
        if i in track:
            return True
        else:
            track.add(i)
    ic(track)
    for j in range(len(nums) - k - 1):
        ic(start)
        ic(nums[start])
        ic(track)
        track.remove(nums[start])
        ic(track)
        ic(end)
        if nums[end] in track:
            return True
        else:
            track.add(nums[end])
        start += 1
        end += 1
    return False

In [66]:
nearby_duplicates(nums, k)

ic| track: {1, 2, 3}
ic| start: 0
ic| nums[start]: 1
ic| track: {1, 2, 3}
ic| track: {2, 3}
ic| end: 3
ic| start: 1
ic| nums[start]: 2
ic| track: {1, 2, 3}
ic| track: {1, 3}
ic| end: 4
ic| start: 2
ic| nums[start]: 3
ic| track: {1, 2, 3}
ic| track: {1, 2}
ic| end: 5

False

In [67]:
nums = [1,2,3,1]
k = 3
nearby_duplicates(nums, k)

True

In [68]:
nums = [1,0,1,1]
k = 1
nearby_duplicates(nums, k)

ic| track: {0, 1}
ic| start: 0
ic| nums[start]: 1
ic| track: {0, 1}
ic| track: {0}
ic| end: 2
ic| start: 1
ic| nums[start]: 0
ic| track: {0, 1}
ic| track: {1}
ic| end: 3

True

## 225. Implement Stack using Queues

In [83]:
# My Solution
class MyStack:
    def __init__(self):
        self.myStack = deque()

    def push(self, x: int) -> None:
        self.myStack.appendleft(x)

    def pop(self) -> int:
        return self.myStack.popleft()

    def top(self) -> int:
        return self.myStack[0]

    def empty(self) -> bool:
        if len(self.myStack) == 0:
            return True
        return False

## 226. Invert Binary Tree

In [82]:
# Recursion Solution: https://www.youtube.com/watch?v=OnSn2XEQ4MY
def invertTree(root):
    if not root:
        return None
    temp = root.left
    root.left = root.right
    root.right = temp
    self.invertTree(root.left)
    self.invertTree(root.right)
    return root

## 231. Power of Two

In [181]:
# Best Solution: https://www.youtube.com/watch?v=4cqHahxFTYw
# Check out other cool solutions in runtime distribution chart
from math import ceil, floor, log2
def power_of_two(n):
    if n == 0:
        return False
    if ceil(log2(n)) == floor(log2(n)):
        return True
    return False

In [182]:
power_of_two(1)

True

## 232. Implement Queue using Stacks

In [1]:
# Pointer approach
class MyQueue:

    def __init__(self):
        self.myQueue = []
        self.start = 0
        self.end = 0

    def push(self, x: int) -> None:
        self.myQueue.append(x)
        self.end += 1

    def pop(self) -> int:
        if(self.start == self.end):
            return -1
        first = self.myQueue[self.start]
        self.start += 1
        return first

    def peek(self) -> int:
        return self.myQueue[self.start]

    def empty(self) -> bool:
        return (self.start == self.end)

## 234. Palindrome Linked List

In [2]:
# Best Solution O(n) time and O(1) memory: https://youtu.be/yOzXms1J6Nk?si=MfF7EnrNA8Fr6bJV
def isPalindrome(head):
    # Finding the mid point in the list using slow and fast pointer
    slow = head
    fast = head
    while fast and fast.next:
        slow = slow.next
        fast = fast.next.next

    # Reversing the 2nd half of the list
    prev = None
    while slow:
        nxt = slow.next
        slow.next = prev
        prev = slow
        slow = nxt

    # Standard palindorme comparision
    while prev:
        if head.val != prev.val:
            return False
        head = head.next
        prev = prev.next
    return True

## 242. Valid Anagram

In [61]:
s = "rat"
t = "car"

In [14]:
s = sorted(s)
t = sorted(t)

In [16]:
print(s)
print(t)

['a', 'r', 't']
['a', 'c', 'r']

In [22]:
# Sorting Solution
def anagram(s, t):
    for i in range(len(s)):
        if s[i] != t[i]:
            return False
    return True

In [23]:
anagaram(s, t)

False

In [58]:
# Hash map solution
def anagram(s, t):
    if len(s) != len(t):
        return False
    s_hash = defaultdict(int)
    t_hash = defaultdict(int)
    for i in range(len(s)):
        s_hash[s[i]] += 1
        t_hash[t[i]] += 1
    ic(s_hash)
    ic(t_hash)
    for i in s_hash.keys():
        if s_hash.get(i, 0) != t_hash.get(i, 0):
            return False
    return True

In [62]:
anagram(s, t)

ic| s_hash: defaultdict(<class 'int'>, {'r': 1, 'a': 1, 't': 1})
ic| t_hash: defaultdict(<class 'int'>, {'c': 1, 'a': 1, 'r': 1})

False

In [59]:
s = "anagram"
t = "nagaram"

In [60]:
anagram(s, t)

ic| s_hash: defaultdict(<class 'int'>, {'a': 3, 'n': 1, 'g': 1, 'r': 1, 'm': 1})
ic| t_hash: defaultdict(<class 'int'>, {'n': 1, 'a': 3, 'g': 1, 'r': 1, 'm': 1})

True

## 257. Binary Tree Paths

In [66]:
# Recursion Solution using dfs
def binaryTreePaths(root):
    res = []

    def dfs(root, path):
        if not root:
            return

        if (root.left == None) and (root.right == None):
            path.append(str(root.val))
            res.append("->".join(path))
            path.pop()

        path.append(str(root.val))
        dfs(root.left, path)
        dfs(root.right, path)
        path.pop()

    dfs(root, [])
    return res

## 258. Add Digits

In [9]:
# My Solution
def add_digit(num):
    while (num // 10) != 0:
        su = 0
        while num != 0:
            su = su + (num % 10)
            num = num // 10
        num = su
    return num

In [10]:
add_digit(38)

2

## 263. Ugly Number

In [9]:
# Best Solution: https://youtu.be/M0Zay1Qr9ws?si=j2t2GKPWp9iytQyL
def ugly_number(n):
    if n <= 0:
        return False
    for i in [2, 3, 5]:
        while (n % i) == 0:
            n = n // i
    return (n == 1)

In [10]:
ugly_number(14)

False

## 268. Missing Number

In [15]:
nums = [0, 1]

In [18]:
def missing_number(nums):
    nums = sorted(nums)
    for i in range(len(nums)):
        if i != nums[i]:
            return i
    return i + 1

In [19]:
missing_number(nums)

2

In [35]:
nums = [9,6,4,2,3,5,7,0,1]
missing_number(nums)

8

In [21]:
nums = [3,0,1]
missing_number(nums)

2

In [39]:
# Best Solution: https://www.youtube.com/watch?v=WnPLSRLSANE
# Finding sum of first n natural numbers using Gauss formula: https://www.youtube.com/watch?v=JH2JyPgcNDg
def missing_number(nums):
    return int(((len(nums)*(len(nums) + 1))/2) - sum(nums))

In [40]:
missing_number(nums)

8

## 278. First Bad Version

In [41]:
# My Solution: Binary search
def firstBadVersion(n):
    if n == 1 or isBadVersion(1):
        return 1
    start, end = 1, n
    while (end - start) != 1:
        mid = int((start + end) / 2)
        if isBadVersion(mid):
            end = mid
        else:
            start = mid
    return int(end)

In [43]:
nums.sort(reverse  = True)

## 283. Move Zeroes

In [45]:
for i in range(3,3):
    i

In [46]:
nums

[9, 7, 6, 5, 4, 3, 2, 1, 0]

In [50]:
nums[0:1]

[9]

## 283. Move Zeroes

In [51]:
nums = [0,1,0,3,12]

In [55]:
def move_zeros(nums):
    switch = 0 
    for curr in range(len(nums)):
        if nums[curr] != 0:
            nums[switch], nums[curr] = nums[curr], nums[switch]
            switch += 1

In [56]:
move_zeros(nums)

In [57]:
nums

[1, 3, 12, 0, 0]

## 290. Word Pattern

In [10]:
pattern = "abba"
s = "dog cat cat dog"

In [12]:
pattern = "aaaa"
s = "dog cat cat dog"

In [14]:
pattern = "abba"
s = "dog dog dog dog"

In [16]:
# My Solution
def word_pattern(pattern, s):
    x = dict()
    split = s.split()
    for i in range(len(pattern)):
        if (pattern[i] not in x):
            if split[i] in x.values():
                return False
            x[pattern[i]] = split[i]
        else:
            if (x[pattern[i]] != split[i]):
                return False
    return True

In [15]:
word_pattern(pattern, s)

False

## 292. Nim Game

In [17]:
# If number of stone is a multiple of 4 then I lose, in all the other cases I win
def canWinNim(n):
    return n % 4

## 303. Range Sum Query - Immutable

In [19]:
# My Solution
class NumArray:

    def __init__(nums):
        self.numArray = nums

    def sumRange(self, left: int, right: int) -> int:
        return sum(self.numArray[left:right+1])

In [20]:
# Cumulative sum solution
class NumArray:

    def __init__(nums):
        self.numArray = nums
        self.cumsum = [0]
        for i in range(len(nums)):
            self.cumsum.append(self.cumsum[i] + nums[i])

    def sumRange(self, left: int, right: int) -> int:
        return (self.cumsum[right + 1] - self.cumsum[left])

## 326. Power of Three

In [3]:
# 1162261467 is the largest valid power of 3 (larget 32 bit integer)
def isPowerOfThree(n):
    return n > 0 and 1162261467 % n == 0